@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/inter.ttf') format('ttf');
}

@theme {
	--default-font-family: 'Inter', sans-serif;
}

.box {
	box-shadow:
		0 calc(-1 * var(--size)) var(--size) 0 rgba(255, 255, 255, 0.5),
		0 var(--size) var(--size) 0
			var(--color-shadow, oklch(from var(--element-color) calc(l - 0.25) c h / 0.5)),
		0 var(--size) 0 0 var(--color-shadow, oklch(from var(--element-color) calc(l - 0.2) c h / 0.5));
}

.box-sm {
	--size: 2px;
}

.box-md {
	--size: 3px;
}

.box-lg {
	--size: 4px;
}
